<%- include("partials/header") -%>

  <h3>FAQ</h3>
  <section class="FAQ">
    <div class="faqText">
      <h4>Q: Will my Ice Cream melt?</h4>
      <p>A: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="faqText">
      <h4>Q: Will my Ice Cream melt?</h4>
      <p>A: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="faqText">
      <h4>Q: Will my Ice Cream melt?</h4>
      <p>A: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
  </section>
</body>

</html>
