<%- include("partials/header") -%>

<!-- Title -->

<section class="title">
  <div class="row">
    <div class="col-lg-6 titleImage">
      <div class="titleText">
        <h1>Personalized Tubs of Ice Cream.</h1>
        <h2>Straight to Your Door.</h2>
        <p>Create your very own flavour of ice cream made with Canadian Diary. We deliver straight
          to your door in our custom, recyclable containers so you don't have to worry about it melting
          on the way.</p>
        <div class="text-center">
          <a href="order" class="btn order-btn btn-lg" role="button">Order Now</a>
        </div>
      </div>
      <img class="titleCirlces" src="titleCircles.png" alt=""></img>
    </div>
    <div class="col-lg-6">
      <img class="titlePic" src="titlePic.png" alt="">
    </div>
</section>

<!-- Flavour of the Month -->

<section class="blueSection">
  <h3 class="flavourMonth">Flavour of the Month</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4 flavour">
        <img src="matcha.png" alt="matcha ice cream">
        <p>matcha</p>
      </div>
      <div class="feature-box col-lg-4 flavour">
        <img src="seasalt.png" alt="matcha ice cream">
        <p>Chocolate Sea Salt</p>
      </div>
      <div class="feature-box col-lg-4 flavour">
        <img src="oreo.png" alt="matcha ice cream">
        <p>Oreo Brownie</p>
      </div>
    </div>
  </div>
</section>

<!-- Next Month Flavour -->

<section class="footer">
  <div class="submitFlavour">
    <h3 class="helpFlavour">Help Pick Next Months Flavours</h3>
    <form action="submitFlavour">
      <div class="row">
      <div class="col-lg-4 col-centered col-lg-offset-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="subtmit your flavour">
        </div>
      </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn btn-lg submit-btn">Submit</button>
      </div>
    </form>
  </div>
</section>
</body>

</html>
