body {
  background-color: #FFF5FC;
  display: flex;
 flex-direction: column;
}

h1 {
  color: #A71559;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 3%;
}

h2 {
  color: #610932;
  font-family: 'Mulish', sans-serif;
  padding: 2%;
}

h3 {
  padding: 5% 0 0 10%;
}
h4 {
  padding-left: 15%;
  padding-top: 2%
}

h5 {
  padding-left: 15%;
}

p {
  font-family: 'Mulish', sans-serif;
  line-height: 250%;
}

/* navbar */

.navbar {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.25rem;
}

/* title */

.titleImage {
  position: relative;
  padding: 8% 5% 7%;
}

.titleText{
  position: absolute;
}

.titlePic {
  height: 1037px;
  position: absolute;
}

.titleCirlces {
  margin: auto;
}

.text-center {
  padding: 3%;
}

.order-btn {
  background-color: #7AE4DE;
  color: #fff;
  text-shadow: 0 3px 5px #000;
  font-size: 2em;
  padding: 4% 15%;
  border-radius: 12px;
}

.order-btn:hover {
  background-color: #30C5BC;
  color: #fff;
}

/* Current Flavours */

.blueSection {
  background-color: #30C5BC;
  text-align: center;
  position: relative;
}

.flavourMonth{
  padding: 5% 5% 3% 5%;

}

.flavour {
  padding-bottom: 3%;
  font-size: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

/* Submit Flavour */

.submitFlavour {
  padding: 2%;
}

.helpFlavour{
  padding: 2%;
  text-align: center;
}

.submit-btn {
  background-color: #F37ACA;
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 3px 5px #000;
  margin-top: 3%;
  padding: 1.5% 8%;
  border-radius: 12px;
}

.submit-btn:hover {
  background-color: #A71559;
  color: #fff;
}

.col-centered{
    margin: 0 auto;
    float: none;
    text-align:center;
}

/* Order Form */

.sidePic {
  align-content: right;
}

.orderForm{
  padding-left: 20%;
}

.orderFlavourMonth{
padding-left: 0;
}

.checkbox {
  padding: 2%;
}

/* FAQ */

.FAQ {
  background-color: #30C5BC;
  border-radius: 12px;
  padding: 2% 5%;
  float: left;
  margin: 1% 7%;
}

.faqText {
  padding: 2%;
}

/* About */

.aboutImg {
  height: 50%;
  width: 50%;
}

/* Footer */
.footer {
 padding: 2% 0 0 0;
 text-align: center;
 top: 100px;
 position: relative;
}
